tmux/plugins/tmux-continuum/
tmux/plugins/tmux-resurrect/
tmux/plugins/tmux-sensible/
tmux/plugins/vim-tmux-navigator/
tmux/resurrect/
vim/plugged
vim/.netrwhist
local/share/nvim/

# yarn
yarn-error.log
