[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
